<div class="panel panel-primary">
  <div class="panel-heading">
      {{pageTitle}}
  </div>
  <div class="panel-body"  >
      <div class="row" >
          <img src="./assets/welcometareas.jpg" 
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px"/>
      </div>
      <div class="row"  >
          <div class="text-center">Ejemplo hecho por:</div>
          <h3 class="text-center">Santiago Mendez</h3>

          <div class="text-center">
              <a href="http://www.ort.edu.uy">www.ort.edu.uy</a>
          </div>
      </div>
  </div>
</div>